---
meta:
  title: Home page
  description: this is the home page meta description.
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<section class="font-bold">

<h1 class="text-7xl">test of font</h1>
<iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/113045232/latest-rides/0a90dd6827c1caf301fc65eb6c3b3544d2bc2a8e'></iframe>
<iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/113045232/activity-summary/0a90dd6827c1caf301fc65eb6c3b3544d2bc2a8e'></iframe>
</section>