---
meta:
  title: Home page
  description: this is the home page meta description.
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<section class="font-bold">

<h1 class="text-7xl">test of font</h1>
</section>